.card{
    /* margin: 10% 10px 20px 10px; */
    color: rgba(0,0,0,.87);
    box-shadow: 2px 2px 8px rgba(0,0,0,.05);
    width: 350px;
    min-height: 40px;
    background-color:white;
}
.card-title{
    display: flex;
    justify-content: flex-end;
    font-size: 1 rem;
    padding: 16px;
    font-size: medium;
    font-weight: 300;
}
.card-data{
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px 10px 0;
    font-size: 2.5rem;
    font-weight: lighter;
}
.card-hint{
    display: flex;
    padding: 10px 10px 8px 18px;
    font-size: 1.3 rem;
}
.card-icon{
    display: flex;
    position: absolute;
    top: -1px;
    left: 20%;
    background: linear-gradient(60deg, #ffa726, #EF6C00);
    color: white;
    width: 80px;
    height: 80px;
    box-shadow: 2px 2px 16px rgba(0,0,0,.15);
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}
mat-icon{
    height: 30%;
    width: 30%;
}