.card-chart{
    margin-right : 1%;
    margin-left : 1%;
    margin-top: 2%;
    align-items: center;
}
.sec-head{
    font-size:1.5rem;
    font-weight: lighter;
    margin:1px;
    left:4%;
    margin-bottom: 2px;
    position: absolute;
}
.card-list{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.filterclass{
    font-size: 18px;
    font-weight: lighter;
    margin-top: 5px;
}


.dataNotFound{
    margin: 10px;
    padding:10px;
    color:white;
    background-color: rgb(0, 159, 199);
}
